In [4]:
from sqlalchemy import create_engine, text
import pandas as pd
import os

In [ ]:
DB_URL = os.getenv(
    "GA_TRADING_DATABASE_URL",
    "postgresql+psycopg2://postgres:gozldsh12!@localhost:5432/ga_trading"
)
engine = create_engine(DB_URL, future=True)

In [6]:
# Hypertable 존재 여부 확인
result = engine.execute(text(
    "SELECT hypertable_name FROM timescaledb_information.hypertables;"
))
print("Hypertables:", [row[0] for row in result])

AttributeError: 'Engine' object has no attribute 'execute'

In [ ]:
# 데이터 삽입 테스트
engine.execute(text("""
    INSERT INTO market_data (ticker, datetime, open, high, low, close, volume)
    VALUES ('TEST', NOW(), 1, 2, 0.5, 1.5, 100);
"""))

In [ ]:
# 방금 넣은 데이터 조회
df = pd.read_sql(
    "SELECT * FROM market_data WHERE ticker='TEST' ORDER BY datetime DESC LIMIT 1",
    engine
)
df